In [2]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm # Provides progress bar for long tasks

## Loading taxonomy dataset into sqlite

In [3]:
# Listing currently existing tables in the database
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT name
    FROM sqlite_master 
    WHERE type ='table' 
    AND name NOT LIKE 'sqlite_%';
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

          name
0  hop_teaming
1     taxonomy

**IMPORTANT! This loading into the database should only be run once.** If you run this multiple times, it will create duplicate entries in the database. For the security of not re-running this code by accident, the code here is converted into markdown. **If you need to rebuild the database, delete the `data/hcbb.sqlite` file and re-run this cell as code. You will also need to make sure to re-run any other related scripts that builds other tables in the database.**

with sqlite3.connect('../data/hcbb.sqlite') as db:
    taxonomy = pd.read_csv("../data/nucc_taxonomy_210.csv") 
    taxonomy = taxonomy[['Code', 'Grouping', 'Classification', 'Specialization']] 
    taxonomy.columns = ['taxonomy_code', 'grouping', 'classification', 'specialization'] 
    taxonomy.to_sql('taxonomy', db, if_exists = 'append', index = False)

    # When done, print done
    print('Task done.')

In [4]:
# Listing currently existing tables in the database
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT name
    FROM sqlite_master 
    WHERE type ='table' 
    AND name NOT LIKE 'sqlite_%';
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

          name
0      npidata
1  hop_teaming
2     taxonomy

In [5]:
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT COUNT(*) AS count_all FROM taxonomy;
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

   count_all
0        865

In [6]:
with sqlite3.connect('../data/hcbb.sqlite') as db :
    
    query = """
    SELECT *
    FROM taxonomy
    LIMIT 5;
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

,taxonomy_code,grouping,classification,specialization
0,193200000X,Group,Multi-Specialty,None
1,193400000X,Group,Single Specialty,None
2,207K00000X,Allopathic & Osteopathic Physicians,Allergy & Immunology,None
3,207KA0200X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Allergy
4,207KI0005X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Clinical & Laboratory Immunology