In [1]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm # Provides progress bar for long tasks

## Loading hop_teaming dataset into sqlite

In [2]:
# Listing currently existing tables in the database
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT name
    FROM sqlite_master 
    WHERE type ='table' 
    AND name NOT LIKE 'sqlite_%';
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

      name
0  npidata

**IMPORTANT! This loading into the database should only be run once.** If you run this multiple times, it will create duplicate entries in the database. For the security of not re-running this code by accident, the code here is converted into markdown. **If you need to rebuild the database, delete the `data/hcbb.sqlite` file and re-run this cell as code. You will also need to make sure to re-run any other related scripts that builds other tables in the database.**

with sqlite3.connect('../data/hcbb.sqlite') as db:
    
    # Add a table named "hop_teaming" to hcbb.sqlite database
    for chunk in tqdm(pd.read_csv("../data/DocGraph_Hop_Teaming_2017.csv", chunksize = 10000)):
        # Append the chunk to a hop_teaming table
        chunk.to_sql(
            'hop_teaming', # The table name
            db, # The database
            if_exists = 'append', 
            index = False # Do not include the pandas index column
        )

    # When done, print done
    print('Task done.')

In [4]:
# Listing currently existing tables in the database
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT name
    FROM sqlite_master 
    WHERE type ='table' 
    AND name NOT LIKE 'sqlite_%';
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

          name
0      npidata
1  hop_teaming

In [5]:
with sqlite3.connect('../data/hcbb.sqlite') as db :
    query = """
    SELECT COUNT(*) AS count_all FROM hop_teaming;
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

   count_all
0  203330907

In [6]:
with sqlite3.connect('../data/hcbb.sqlite') as db :
    
    query = """
    SELECT *
    FROM hop_teaming
    LIMIT 5;
    """ 
    
    test_df = pd.read_sql(query, db)

display(test_df)

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1003863580,1000000004,19,19,108.895,84.598
1,1043250400,1000000004,20,20,87.000,77.173
2,1033239413,1000000004,20,20,58.800,76.982
3,1033142146,1000000004,491,535,10.232,36.558
4,1013957562,1000000004,25,26,78.692,59.305